@charset "ISO-8859-1";

body {
    /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
    background: linear-gradient(-48deg,cyan,rgb(111, 143, 247),rgb(236, 127, 113),rgb(249, 120, 253));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h3 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 1;
    font-size: 40px;
}

#indexPageContainer {
    text-align: center;
    margin-top:10%;
}

.rowContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#line {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    margin:0 auto
}

h6 {
    margin-bottom: 5px;
}

.colContainer {
    margin-top: 0;
    flex-direction: column;
    /* margin-inline-start:18px; */
    font-family: 'Baloo Thambi 2', cursive;
    font-size: 30px;
}

button {
    background-color:rgba(220, 221, 245, 0.8);
    border: 1px solid rgb(122, 57, 226);
    border-radius:100px;
    color: rgb(28, 48, 226);
    font-size: 60%;
    height: 40px;
    width: 105px;
    text-decoration: none;

}

button:focus {
    border: 1px solid rgb(0, 0, 0) !important;
    outline: none !important;
    color: black;
}
