@charset "ISO-8859-1";

body{
	text-align:center;
	color:crimson
}

.Container1{
	display:flex;
	justify-content:space-around;
	/* align-items:center */
}

.Container2 {
	display:flex;
	justify-content:space-around;
	margin-top:30%
}

button {
    color: white;
    background-color: #ed1c40;
    font-size: 17px ;
    height: 35px !important;
    width:15% !important;
    border: none;
    border-radius: 29px;
}

table{
	border: none;
    border-bottom: 1px solid black;
    width: 50%;
    font-size: 18px;
    line-height: 30px;
    color: crimson;
}

